<header class="page-header">
  <h1>About us</h1>
</header>

<br>
<p>Jungle is a web store compromised to deliver the most unique products!</p>
<br>
<p>We are a family business founded in 2020 in Toronto and our main objective is to offer excellent options to gift your friends.</p>
<br>
<p>Did not found what you were looking for or would like to give your suggestion? Please <%= mail_to "jungle@fakeemail.com", "contact us" %>.</p> 


