// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

nav {
  .navbar-right > li > p {
    padding: 15px;
    margin: 0;
    line-height: 20px;
  }
}


@media (max-width: 768px){
  nav {
    .navbar-right > li > p {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: 768px){
  .container {
      width: auto;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
